PORT=5000
VM_USER=maryamawit

# --- OpenDaylight (ODL) Settings ---
ODL_USER=admin
ODL_PASS=admin
ODL_RUNNING_IN_DOCKER=false
ODL_HOME=/home/${VM_USER}/karaf-0.23.0
ODL_ETC_PATH=/home/${VM_USER}/karaf-0.23.0/etc
ODL_REST_URL=http://127.0.0.1:8181/rests

# --- ONOS Docker Settings ---
ONOS_RUNNING_IN_DOCKER=true
ONOS_CONTAINER_NAME=onos-2.7
ONOS_HOST=localhost
ONOS_REST_URL=http://localhost:8282/linkguard
ONOS_INTERNAL_ETC=/root/onos/apache-karaf-4.2.9/etc
ONOS_KARAF_CLIENT=/root/onos/apache-karaf-4.2.9/bin/client
ONOS_USER=onos
ONOS_PASS=rocks
ONOS_BUNDLE_PATH=./linkguard-app/target/linkguard-1.0-SNAPSHOT.jar
ONOS_BUNDLE_SYMBOLIC_NAME=linkguard-app

# --- SDN Southbound TLS Configuration ---
CERTS_DIR=/home/${VM_USER}/sdn-certs
TLS_KEYSTORE_PASSWORD=changeit
CERT_CA_SUBJECT=/CN=INSA-SDN-CA/OU=SDN-Lab/O=INSA
CERT_ONOS_CN=onos-controller
CERT_ODL_CN=odl-controller
CERT_SWITCH_CN=sc
ONOS_TLS_MODE=enabled

# --- LINK-GUARD Email Configuration ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alerts@linkguard.local
SMTP_PASS=secret
SMTP_FROM=LINK-GUARD Security <alerts@linkguard.local>
ALERT_EMAILS=admin@example.com
DIGEST_EMAILS=admin@example.com
DIGEST_DAILY_ENABLED=false
DIGEST_DAILY_CRON=0 8 * * *
DIGEST_WEEKLY_ENABLED=false
DIGEST_WEEKLY_CRON=0 8 * * 1